.window {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  margin-left: 56px;
  overflow: auto;
  z-index: 0;
}

.contents {
  height: 100%;
  flex-grow: 0.7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--contents-window-color);
}

.top-line {
  position: absolute;
  width: 100%;
  top: 110px;
  border-bottom: 1px solid var(--dividing-line-color);
}

.grid {
  height: 100%;
  flex-grow: 0.3;
  border-right: 1px solid var(--grid-line-color);
}