.sidebar {
  height: 100vh;
  min-width: 56px;
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  border-right: 1px solid var(--dividing-line-color);

  background-color: var(--sidebar-bg-color);
}

.title {
  padding-top: 0.5rem;
}

.menu-list {
  display: flex;
  flex-direction: column;
  //cursor: pointer;
  //height: 100%;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc((100vh / 8) - 1px);
  border-bottom: 1px solid var(--dividing-line-color);
}