.container {
  height: 100vh;
  min-width: 64px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--dividing-line-color);
  background-color: var(--sidebar-bg-color);
}

.menu_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top:2.5rem;
  gap: 2.75rem;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc((100vh / 8) - 1px);
  border-bottom: 1px solid var(--dividing-line-color);
}