.tag {
  display: inline-block;
  font-family: D2Coding;
  font-size: 16px;

  margin: 20px;
  padding: 5px;
  background-color: var(--primary-color);
  border: 1px solid #0068B2;
  border-radius: 0px 10px 0px 0px;
  cursor: pointer;
}